* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  min-height: 100%;
  background: #23153c; // ак болуп кетпесин
  overflow-x: hidden; // 100vw/position чыгып кетсе ак зона чыкпасын
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: #1107ee;
}
