#skills {
  padding: 100px 0;
  color: #fff;
  // text-align: center;  <-- Бул алынды, h1 солго барыш үчүн

  h1 {
    font-size: 30px;
    color: #00b4ff;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100px;
      height: 3px;
      background: #00b4ff;
      border-radius: 3px;
    }
  }

  .skills__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
  }

  .skills__card {
    background: #111;
    border-radius: 20px;
    padding: 25px 10px;
    width: 130px;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 180, 255, 0.1);

    img {
      width: 60px;
      height: 60px;
      object-fit: contain;
      filter: drop-shadow(0 0 5px #00b4ff);
      transition: 0.3s;
    }

    p {
      margin-top: 10px;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.5px;
      color: #cfcfcf;
    }

    &:hover {
      transform: translateY(-10px);
      background: #0f0f0f;
      box-shadow: 0 0 20px rgba(0, 180, 255, 0.3);

      img {
        transform: scale(1.1);
        filter: drop-shadow(0 0 10px #00b4ff);
      }
    }
  }

  @media (max-width: 700px) {
    padding: 70px 20px;

    .skills__card {
      width: 110px;
      padding: 20px 5px;

      img {
        width: 50px;
        height: 50px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
